/*顶部菜单部分*/
#Navbar{
    background: #f2f2f2;
    width: 100%;
    height: 30px;
}
#Navbar .nav{
    width: 1200px;
    margin:0 auto;
}
#Navbar .nav .nav1{
    line-height: 28px;
    /*display: block;*/
    height: 29px;
}
#Navbar .nav .nav1 a{
    color:red;
}
#Navbar .nav .nav2 ul li{
    padding-top:1px;
    float:left;
    position:relative;
}
#Navbar .nav .nav2 ul .nav21:hover{
    box-shadow: 1px 1px 2px #e6e6e6;
}
#Navbar .nav .nav2 ul .nav21:hover .icon{
    border: 1px solid #dadada;
    background: #ffffff;
    border-bottom: none;
}
#Navbar .nav .nav2 ul .nav21:hover .icon .tt{
    background: url(../img/homeindex.png) no-repeat 0px -4px;
    
}
#Navbar .nav .nav2 ul li .icon{
    padding: 0 26px 0 14px;
    line-height: 28px;
    display: block;
    height: 29px;
    padding: 0 16px 0 16px;
    position: relative;
    z-index: 10;
    border: 1px solid #f2f2f2;
    border-bottom: none;
}
#Navbar .nav .nav2 ul li .icon a{
     color:#333;
}
#Navbar .nav .nav2 ul li .icon a:hover{
     color:red;
}
#Navbar .nav .nav2 ul li .icon .tt{
    position: absolute;
    background: url(../img/homeindex.png) no-repeat -26px -428px;
    width: 10px;
    height: 6px;
    left: 68px;
    top: 12px;
}
#Navbar .nav .nav2 ul li .dropLayer{
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    position: absolute;
    top: 29px;
    left: 0px;
    border: 1px solid #dadada;
    background: #fff;
    z-index: 9;
    display: none;
    padding-left: 12px;
}
#Navbar .nav .nav2 ul .nav21:hover .dropLayer{
    display:block;
}
#Navbar .nav .nav2 ul li .dropLayer a{
    float: left;
    color: #666666;
    line-height: 24px;
    margin-bottom: 6px;
    width: 74px;
}
.dropLayer .erweimaWrap {
     overflow:hidden; 
     padding-top:9px;
 }
.dropLayer .erweimaWrap .erweima {  
    float:left; 
    width:75px; 
    height:75px; }

.dropLayer .erweimaWrap .erweima img { 
    width:100%;}

.dropLayer .erweimaWrap .text{ 
    float:left;
     margin-left:9px; 
     overflow:hidden; }

.dropLayer .erweimaWrap .text b { 
    color:#e60000;
     display:block; 
     margin-top:5px; }

.dropLayer .erweimaWrap .text span { 
    color:#666666; 
    display:block;
    padding-top:9px; 
    line-height:14px;}

/*搜索部分*/
#searchBar{
    height: 106px;
}
#searchBar .search{
    width: 1200px;
    margin:0 auto;
}
#searchBar .search .se_left{
    float: left;
    width: 248px;
    padding: 21px 0 25px 0;
    margin-right: 26px;
}
.se_cent{
    margin-top: 20px;
    height: 68px;
    width: 674px;
}
.se_cent .se_ctop{
    height: 36px;
}
.se_cent .se_ctop .se_arch{
    float: left;
    height: 36px;
    width: 602px;
    border: 2px solid #e60000;
    position: relative;

}

.se_cent .se_ctop .se_arch .se_archLe{
    padding: 6px 0;
    float: left;
    width: 504px;

}
.se_cent .se_ctop .se_arch .se_archLe #keyword{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background: #fff;
    font-size: 12px;
    color: #666;
    text-indent: 1em;
    border: none;
}
.se_cent .se_ctop .se_arch .searchBut{
    float: left;
    height: 32px;
    background: #e60000;
    color: #fff;
    line-height: 32px;
    width: 94px;
    text-align: center;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    text-decoration: none;
    letter-spacing: 3px;
}
.se_cent .se_ctop .se_arch  .dropSearch{
    width: 76px;
    position: absolute;
    right: 98px;
    height: 32px;
    top: 0;
    border-left: 1px solid #dbdbdb;
    padding: 0 9px 0 9px;
    background: #FFF;
}
.se_cent .se_ctop .se_arch  .dropSearch dl{
    position: relative;
}
.se_cent .se_ctop .se_arch  .dropSearch dl dt{
    height: 32px;
    line-height: 32px;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.se_cent .se_ctop .se_arch  .dropSearch dl dt .icon{
    position: absolute;
    background: url(../img/homeindex.png) no-repeat 0 -10px;
    width: 7px;
    height: 4px;
    top: 14px;
    right: -7px;
}

.se_cent .se_ctop .se_arch  .dropSearch dl dd{
    position: absolute;
    top: 28px;
    left: -10px;
    width: 80px;
    border: 1px solid #dbdbdb;
    background: #fff;
    line-height: 24px;
    text-indent: 8px;
    display: none;
    padding-top: 5px;
    border-top: none;
}
.se_cent .se_ctop .gaoji{
    float:left;
    width: 72px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color:red;
    text-decoration: none;
}
.se_cent .se_ctop .se_bott{
    height: 28px;
    overflow: hidden;
    width: 674px;
    line-height: 28px;
}
.se_cent .se_ctop .se_bott ul li{
    float: left;
    color: #999;
    margin-right: 25px;
    text-decoration: none;
}
.se_cent .se_ctop .se_bott ul li:hover{
    color:red;
    cursor:pointer;
}
.search .se_right{
    width: 215px;
    margin-top: 0px;
    margin-right: -10px;
    height: 100px;
    line-height: 40px;
    color:red;
    position:relative;
}    
.search .se_right .aa{
    width: 23px;
    height: 23px;
    background: url(../img/homeindex.png)no-repeat 0 -27px;
    margin-top: 10px;

}
.search .se_right .bb{
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
    color:#e60000;
}
/*二级菜单*/
#invagation{
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #e60000;
    position: relative;
    z-index: 8;
   }
.inv{
    width: 1200px;
    margin:0 auto;
    height: 42px;
}
.inva{
    width: 1200px;
    height: 42px;
}
.inva .inva1{
    width: 200px;
    height: 42px;
    float:left;
    position:relative;

}
.inva .inva1 .inva11{
    width: 200px;
    height: 42px;
    background:#e60000;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    z-index: 114;
    text-indent: 40px;
    z-index: 114;
    cursor: pointer;
}
.inva .inva1 .inva11 .icon{
    width: 16px;
    height: 15px;
    position:absolute;
    left:13px;
    top:14px;
    background:url(../img/homeindex.png)no-repeat -9px 0;
}
.inva .inva1 .inva11 .ison{
    width: 16px;
    height: 15px;
    position:absolute;
    right:24px;
    top:18px;
}
.inva .inva1:hover .invaa{
    display:block;
}
.invaa{
    display:none;
    width: 200px;
    height: 696px;
    position:absolute;
    top:42px;
}
.invaa .vaa{
    border: 1px solid #e60000;
    border-top: none;
    background: #fff;
}
.invaa .vaa ul li{
    padding-top: 2px;
    background: url(../img/navline.jpg) no-repeat bottom center;
    padding-bottom: 2px;
    border-left: 2px solid #fff;
    border-right: none;
    position: relative;
    z-index: 113;
    vertical-align: bottom;
}
.vab .gunzi{
    width: 2px;
    height: 118px;
    background:#fff;
    position:absolute;
    left:196px;
    top:0;
    z-index: 999;
    display:none;
}
.invaa .vaa ul li .va{
    padding-left: 11px;
    position: relative;
}
.invaa .vaa ul li .va em{
    position: absolute;
    top: 7px;
    right: 3px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #666666;
}

.invaa .vaa ul li .va .va1{
    padding-top: 8px;
    color: #e60000;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: 400;
}
.invaa .vaa ul li .va .va2{
    position: relative;
    margin-top: 7px;
    line-height: 24px;
    padding-bottom: 10px;
    zoom: 1;
    overflow: hidden;
    margin-right: 11px;
}
.invaa .vaa ul li .va .va2 a{
    margin-right: 12px;
    color: #666;
    text-decoration: none;
    white-space: nowrap;
}
.invaa .vaa ul li.hover{
    width:198px; 
    border:2px solid #e60000;
    padding-top:0px; 
    padding-bottom:0px;  
    border-right:none;
    margin-left: -1px;
    padding-left: 1px;
    z-index: 999;
}
.invaa .vaa .vb{
    /*display: none; */
    position: absolute;
    z-index: 11;
    left: 196px;
    width: 757px;
    background: #fff;
    border: none;
    border-top: 1px solid #00b6f0;
    zoom: 1;
    border: 2px solid #e60000;
    background: #fff;
}
.invaa .vaa .vb .vb1{
    padding:10px 0 10px 16px;;
}
.invaa .vaa .vb .vb1 .vb2{
    padding-right: 32px;
    zoom: 1;
    display: block;
}
.invaa .vaa .vb .vb1 .vb2 .vb21{
    overflow: hidden;
    padding: 9px 0;
    border-bottom: 1px solid #f0f0f0;
}
.invaa .vaa .vb .vb1 .vb2 .vb21 h3{
    float: left;
    width: 85px;
    line-height: 24px;
    font-size: 12px;
    color: #e60000;
    font-weight: bold;
}
.invaa .vaa .vb .vb1 .vb2 .vb21 p{
    float: left;
    width: 600px;
    line-height: 24px;
    overflow: hidden;
}
.invaa .vaa .vb .vb1 .vb2 .vb21 p a{
    text-decoration: none;
    float: left;
    color: #666666;
    margin: 0 16px;
    white-space: nowrap;
}
.invaa .vaa .vb .vb1 .vb2 .vb21 p span{
    float: left;
    color: #d6d6d6;
}
.inva .inva2{
    width: 1000px;
    float:left;
}
.inva .inva2 span{
    height: 42px;
    padding: 0 29px;
    color:#333;
    line-height: 42px;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    cursor:pointer;
}
.inva .inva2 span:hover{
    color:#e60000;
}
.inva1 .invab{
    position:absolute;
    bottom:-880px;
    left:0;
}
.tupian{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.tupian .juzhong{
    width: 1200px;
    margin: 0 auto;
}

.w1200{
    width: 1200px;
    margin:0 auto;
}


.content { z-index:7;  }

.category-content .category {  display:none; }

/*banner CSS */

.kindBanner { margin-top:10px; }

/*面包屑css*/

.crumbsBar { margin-top:19px;  }

.crumbsBar .crumbsNav { }

.crumbsBar .crumsItem { float:left; line-height:22px; }

.crumbsBar .crumsItem a { color:#666666; text-decoration:none; }

.crumbsBar .crumsItem a:hover { color:#e60000; }

.crumbsBar i { float:left; width:5px; height:9px; text-indent:-999px; overflow:hidden;background: url(../img/childredSprit.png) no-repeat -152px -472px; margin:6px 7px 0 10px; }

.crumbsBar .crumsDrop { float:left; position:relative;  }

.crumbsBar .crumsDrop .dropMenu { height:20px; border:1px solid #e5e5e5; line-height:20px; overflow:hidden; padding:0 6px 0 5px; position:relative; z-index:2; background:#fff; }

.crumbsBar .crumsDrop .dropMenu a { float:left; color:#666; text-decoration:none; } 

.crumbsBar .crumsDrop .dropMenu a:hover { color:#e60000; }

.crumbsBar .crumsDrop .dropMenu span { float:left; width:7px; height:4px; margin:9px 0 0 5px; background: url(../img/childredSprit.png) no-repeat -141px -491px; }

.crumbsBar .crumsDrop:hover .dropMenu { border:1px solid #e60000; border-bottom:none; background:#fff; height:21px; }

.crumbsBar .crumsDrop:hover .dropMenu span { background-position:-153px -490px; }

.crumbsBar .crumsDrop .dropCon { position:absolute; width:390px; top:21px; left:0; border:1px solid #e60000; overflow:hidden;  z-index:1; display:none;}

.crumbsBar .crumsDrop:hover .dropCon { display:block; }

.crumbsBar .crumsDrop .dropCon .dropList { padding:7px 0 7px 5px; line-height:22px; background:#fff;  }

.crumbsBar .crumsDrop .dropCon .dropList ul  { overflow:hidden;  }

.crumbsBar .crumsDrop .dropCon .dropList ul li { float:left; width:72px; margin-right:5px; height:22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.crumbsBar .crumsDrop .dropCon .dropList ul li a { color:#666666; text-decoration:none; }

.crumbsBar .crumsDrop .dropCon .dropList ul li a:hover { color:#e60000; }

.crumbsBar .selectItem { float:left; height:22px; line-height:22px; background:#e8e8e8;   margin-right:10px; cursor:pointer; }

.crumbsBar .selectItem a { overflow:hidden; padding:0 6px; display:block; }

.crumbsBar .selectItem em { float:left; color:#666666;  }

.crumbsBar .selectItem span { float:left; height:8px; width:8px; margin:7px 0 0 5px; background: url(../img/childredSprit.png) no-repeat -137px -459px; }

.crumbsBar .selectItem:hover { background:#e60000; }

.crumbsBar .selectItem:hover em{ color:#fff; }

.crumbsBar .selectItem:hover span { background-position:-138px -473px; }

.crumbsBar .selectItem.hover { background:#e60000; }

.crumbsBar .selectItem.hover em{ color:#fff; }

.crumbsBar .selectItem.hover span { background-position:-138px -473px; }

.crumbsBar .clearSelect { line-height:20px; height:20px; border:1px solid #ccc; background:#f3f3f3; border-radius:3px; padding:0 4px; float:left; }

.crumbsBar .clearSelect a { text-decoration:none; color:#333; }

.crumbsBar .clearSelect:hover { border:1px solid #e60000; background:#fff; }

.crumbsBar .clearSelect:hover a { color:#e60000; }





/*筛选项目 css*/

.selectorBar { margin-top:20px;  }

.selectorBar .selectorCon { border:1px solid #f3f3f3; }

.selectorBar .slectList { border-bottom:1px solid #e9e9e9; background:#f3f3f3; position:relative; }

.selectorBar .slectList.discountItem  { border-bottom:none; }

.selectorBar .selectTit { float:left; width:96px; line-height:40px; text-indent:22px; }

.selectorBar .selectTit span { font-weight:bold; color:#333333; }

.selectorBar .slectCon { float:left; width:1102px; background:#fff; height:40px; overflow:hidden;  }  

.selectorBar .slectCon ul { overflow:hidden; padding-left:26px; max-width:910px; float:left; }

.selectorBar .slectList.kindItem .slectCon ul  {  width:910px; }



.selectorBar .slectCon ul li { float:left; line-height:40px; margin-right:37px;  }

.selectorBar .slectList.kindItem .slectCon.on  { height:auto; }

.selectorBar .slectCon.on ul { padding-top:5px; }

.selectorBar .slectCon.on ul li {  line-height:30px;}

.selectorBar .slectCon ul li a { color:#666666; text-decoration:none; }

.selectorBar .slectCon ul li a:hover { color:#e60000; }

.selectorBar .slectList .selectSwitch { position:absolute; top:14px; right:17px;  }

.selectorBar .slectList .selectSwitch a {overflow:hidden; color:#333; text-decoration:none; }

.selectorBar .slectList .selectSwitch a .icon { float:right; width:9px; height:5px;  background: url(../img/childredSprit.png) no-repeat -108px -490px; margin:5px 0 0 6px;}

.selectorBar .slectList .selectSwitch a:hover { color:#e60000; }

.selectorBar .slectList .selectSwitch a:hover .icon { color:#e60000; background: url(../img/childredSprit.png) no-repeat -164px -490px; }

.selectorBar .slectList .selectSwitch.on a { color:#333; }

.selectorBar .slectList .selectSwitch.on a:hover { color:#e60000;  }

.selectorBar .slectList .selectSwitch.on a .icon { background-position:-190px -490px; }

.selectorBar .slectList .selectSwitch.on a:hover .icon { background-position:-125px -489px;}

.selectorBar .slectCon .priceSet { float:left; overflow:hidden; width:208px; margin-top:11px; }

.selectorBar .slectCon .priceSet .fl { float:left; width:67px; height:20px; }

.selectorBar .slectCon .priceSet .fl i { color:#666666; margin-right:3px; }

.selectorBar .slectCon .priceSet .fl .input-txt { font-family:'Microsoft YaHei'; border:1px solid #cccccc; width:50px; height:16px; vertical-align:middle; color:#666; background:#fff; text-indent:3px; line-height:18px; }

.selectorBar .slectCon .priceSet .fl .input-txt:focus {border:1px solid #e60000;}

.selectorBar .slectCon .priceSet em { float:left; margin:0 5px; color:#d3d3d3; line-height:20px; letter-spacing:0px;  }

.selectorBar .slectCon .priceSet .confirmButton { float:left; margin-left:10px; line-height:18px; }

.selectorBar .slectCon .priceSet .confirmButton a { display:block; height:18px; padding:0 5px; border:1px solid #cccccc; border-radius:3px; background:#f3f3f3; text-decoration:none; }

.selectorBar .slectCon .priceSet .confirmButton a:hover { border:1px solid #e60000; color:#e60000; background:#fff; } 

/*排序css*/

.sortBar { margin-top:20px; }

.sortBar .sortInner { border-bottom:1px solid #e60000; }

.sortBar .sortNav { float:left; }

.sortBar .sortNav ul { overflow:hidden; height:28px; overflow:hidden;  padding-left:1px; }

.sortBar .sortNav ul li { float:left; display:inline;text-align:center; cursor:pointer;}

.sortBar .sortNav ul li a {display:block;  border:1px solid #e9e9e9; width:68px; margin: 0 0 -1px -1px; height:26px; line-height:26px;  height:26px;  border-radius:5px 5px 0 0;  color:#666666;  text-decoration:none; position: relative; z-index: 0;  }

.sortBar .sortNav ul li a:hover { color:#e60000; }

.sortBar .sortNav ul li.on a{  border:1px solid #e60000; background:#e60000;  color:#fff; }  

.sortBar .sortNav ul li a i { position:relative; padding-right:11px;}

.sortBar .sortNav ul li.saleNum a i { padding-right:0px; }

.sortBar .sortNav ul li a .icon { position:absolute; width:7px;height:11px;  right:0; top:2px;  background: url(../img/childredSprit.png) no-repeat -268px -419px; }

.sortBar .sortNav ul li a:hover .icon {  background: url(../img/childredSprit.png) no-repeat -278px -419px; }

.sortBar .sortNav ul li.on a .up {background: url(../img/childredSprit.png) no-repeat -287px -419px;}

.sortBar .sortNav ul li.on a .down { background: url(../img/childredSprit.png) no-repeat -296px -419px; }

.sortBar .otherSort { float:left; margin-left:30px; }

.sortBar .otherSort ul { overflow:hidden; }

.sortBar .otherSort ul li { float:left; line-height:28px; margin-right:15px; }

.sortBar .otherSort ul li a { overflow:hidden; color:#e60000; text-decoration:none; }

.sortBar .otherSort ul li a:hover { color:#e60000; }

.sortBar .otherSort ul li a span { float:left; width:12px; height:12px;  margin:8px 6px 0 0;background: url(../img/childredSprit.png) no-repeat -99px -442px;  }

.sortBar .otherSort ul li.on a:hover span{ background-position:-73px -442px; }

.sortBar .otherSort ul li.on a { color:#e60000; }

.sortBar .otherSort ul li.on span {background: url(../img/childredSprit.png) no-repeat -86px -442px;  }

.sortBar .otherSort ul li.on a:hover span {background: url(../img/childredSprit.png) no-repeat -86px -442px;  }

.sortBar .sortRight { float:right; overflow:hidden; padding-top:4px; }

.sortBar .styleSwitch { float:left;  }

.sortBar .styleSwitch ul { overflow:hidden;}

.sortBar .styleSwitch ul li { float:left; margin-right:10px; }

.sortBar .styleSwitch ul li a { overflow:hidden; line-height:20px; color:#666; } 

.sortBar .styleSwitch ul li.on a { color:#e60000; }

.sortBar .styleSwitch ul li a:hover {  color:#e60000; }

.sortBar .styleSwitch ul li a span { float:left; height:21px; width:21px;  display:inline; margin-right:5px; }

.sortBar .styleSwitch ul li.big a span {background: url(../img/childredSprit.png) no-repeat -90px -460px; }

.sortBar .styleSwitch ul li.big.on a span {background: url(../img/childredSprit.png) no-repeat -46px -460px; }

.sortBar .styleSwitch ul li.big a:hover span{ background: url(../img/childredSprit.png) no-repeat -46px -460px; }

.sortBar .styleSwitch ul li.list a span {background: url(../img/childredSprit.png) no-repeat -68px -460px; }

.sortBar .styleSwitch ul li.list.on a span {background: url(../img/childredSprit.png) no-repeat -113px -460px; }

.sortBar .styleSwitch ul li.list a:hover span {background: url(../img/childredSprit.png) no-repeat -113px -460px; }

.sortBar .styleSwitch ul li a i { float:left; display:inline; }

.sortBar .topPage { float:left; overflow:hidden; }

.sortBar .topPage .fp-text { float:left; line-height:20px; font-family:Arial; color:#333; }

.sortBar .topPage .fp-text b { color:#e60000; }

.sortBar .topPage a { float:left; width:21px; height:21px; text-indent:-999px; overflow:hidden; }

.sortBar .topPage a.prevPage { background: url(../img/childredSprit.png) no-repeat -265px -460px; margin-right:3px; }

.sortBar .topPage a.nextPage { background: url(../img/childredSprit.png) no-repeat -288px -460px; }

.sortBar .topPage a.prevPage:hover {  background: url(../img/childredSprit.png) no-repeat -265px -437px; }

.sortBar .topPage a.nextPage:hover {  background: url(../img/childredSprit.png) no-repeat -288px -437px;}


#listgood{
    margin-top:18px;
    height: 4900px;
}
.listBox{
    display:block;
}
.listLeft{
    float:left;
    width: 953px;
}
.listLeft ul{
    overflow:hidden;
}
.listLeft ul .listbook{
    float: left;
    width: 238px;
    height: 360px;
    padding: 16px 17px 0;
    border: 2px solid #fff;
    margin-bottom: 10px;
}
.listLeft ul .listbook:hover{
border: 2px solid #e9e9e9;
}
.listLeft ul .listbook .cover{
    height: 200px;
    text-align: center;
    padding-bottom: 5px;
}
.listLeft ul .listbook .cover a img{
    max-height: 200px;
    max-width: 200px;
    margin:0 auto;
}
.listLeft ul .listbook .infor{
    overflow: hidden;
}
.listLeft ul .listbook .infor .priceWrap{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    vertical-align: middle;
}
.listLeft ul .listbook .infor .priceWrap .sellPrice{
    float: left;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    color: #e60000;
    margin-right: 10px;
}
.listLeft ul .listbook .infor .priceWrap .discount{
    float: left;
    height: 16px;
    color: #666;
    line-height: 16px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial;
}
.listLeft ul .listbook .infor .priceWrap .cost{
    float: right;
    color: #999;
    margin-top: 3px;
}
.listLeft ul .listbook .infor .name{
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    font-weight: normal;
    cursor:pointer;
}
.listLeft ul .listbook .infor .name:hover{
    color:#e60000;
}
.listLeft ul .listbook .infor .otherInfor{
    height: 22px;
    overflow: hidden;
    line-height: 22px;
}
.listLeft ul .listbook .infor .otherInfor a{
    color: #999;
    text-decoration: none;
}
.listLeft ul .listbook .infor .otherInfor a.author{
    float: left;
    max-width: 120px;
    overflow: hidden;
    word-wrap: break-word;
}
.listLeft ul .listbook .infor .otherInfor a.author:hover{
    color:#e60000;
}
.listLeft ul .listbook .infor .otherInfor a.publisher:hover{
    color:#e60000;
}
.listLeft ul .listbook .infor .oparateButton{
    overflow: hidden;
    padding-top: 5px;
    margin-top:20px;
}
.listLeft ul .listbook .infor .oparateButton a{
    float:left;
}
.listLeft ul .listbook .infor .oparateButton .buyButton{
    height: 20px;
    line-height: 20px;
    border: 1px solid #ff1a1a;
    border-radius: 3px;
    width: 68px;
    text-align: center;
    color: #ff1a1a;
    text-decoration: none;
    margin-right: 10px;
}
.listLeft ul .listbook .infor .oparateButton .buyButton:hover{
    background: #ffe5e5;
}

.listLeft ul .listbook .infor .oparateButton .collectBtn{
    height: 20px;
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    width: 33px;
    text-align: center;
    color: #999;
    text-decoration: none;
    margin-right: 10px;
}
.listLeft ul .listbook .infor .oparateButton .collectBtn:hover{
    background: #ffe5e5;
    color: #e60000;
    border: 1px solid #e60000;
}
.listRight{
    float: right;
    width: 230px;
    position: relative;
}
.listRightInner{
    top:0;
}
.listRightInner.absoluted{
    position: absolute;
    left: 0;
    width: 100%;
}
.listRight .hotBook{
    border: 1px solid #e9e9e9;
}
.listRight .hotBook .tith2{
    height: 53px;
    line-height: 53px;
    border-bottom: 1px solid #e9e9e9;
    background: #f3f3f3;
    text-indent: 15px;
    color: #333333;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
}
.listRight .hotBook ul{
    padding: 0 15px;
}
.listRight .hotBook ul li{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 4px;
}
.listRight .hotBook ul li .cover{
    padding: 15px 20px 10px;
    height: 158px;
    text-align: center;
}
.listRight .hotBook ul li .cover a{
text-decoration: none;
    color: #333;
}
.listRight .hotBook ul li .cover a img{
    max-height: 158px;
    max-width: 158px;
    margin:0 auto;
}
.listRight .hotBook ul li .infor{
    margin-top:15px;
}
.listRight .hotBook ul li .infor .name{
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    font-weight: normal;
}
.listRight .hotBook ul li .infor .name a{
    color: #333333;
    text-decoration: none;
}
.listRight .hotBook ul li .infor .name a:hover{
    color:#e60000;
}

.listRight .hotBook ul li .infor .author{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.listRight .hotBook ul li .infor .author span{
    color:#666;
}
.listRight .hotBook ul li .infor .priceWrap{
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}
.listRight .hotBook ul li .infor .priceWrap .sellPrice{
    float: left;
    color: #e60000;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    margin-right: 6px;
}
.listRight .hotBook ul li .infor .priceWrap .price{
    float: left;
    color: #999;
    font-family: 'Microsoft YaHei';
}

.yemaBox{
    height: 30px;
}
.pagination{
    height: 30px;
    float:right;
}
.pagination .prev.zz{
     display:none;
}
.pagination .prev{
     display:none;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float:left;
    background: #eaeaea;
    color:#333;
    margin-right:10px;
}
.pagination .prev:hover{
    border-color: #e60000;
    background-color: #e60000;
    color: #fff;
}
.pagination .annum{
    float:left;
    height: 30px;
}
.pagination .annum li{
    float: left;
    width: 30px;
    height: 30px;
}
.pagination .annum li.current a{
    border-color: #e60000;
    background-color: #e60000;
    color: #fff;
}
.pagination .annum li a{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #dadada;
    line-height: 28px;
    font-family: Arial;
    font-size: 12px;
    color: #666;
    background: #fff;
    text-align: center;
    border-collapse: collapse;
}
.pagination .annum ul li a:hover{
    border-color: #e60000;
    background-color: #e60000;
    color: #fff;
}
.pagination .next{
    float:left;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float:left;
    background: #eaeaea;
    color:#333;
    margin-left:10px;
}
.pagination .next:hover{
    border-color: #e60000;
    background-color: #e60000;
    color: #fff;

}
.pagination .p-skip{
    float:left;
    height: 30px;
    line-height: 30px;
}
.pagination .p-skip em{
    float:left;
}
.pagination .p-skip .inputxt{
    float:left;
    outline: none;
    width: 40px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0px 5px 0;
    border: none;
    background-color: #FFFFFF;
}
.pagination .p-skip .gobtn{
    text-decoration: none;
    margin: 0 10px;
    border-radius: 3px;
    float: left;
    width: 58px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #666;
    background: #eaeaea;
    text-align: center;
}
.pagination .p-skip .gobtn:hover{
    border-color: #e60000;
    background-color: #e60000;
    color: #fff;
}




    
.frequently{
    margin-top:20px;
}
.frequently .rexiao{
    width: 1212px;
    margin:0 auto;
}
.yexiao{
    height: 47px;
    background: #e1f7ff;
    border-bottom: 3px solid #07bafd;
    line-height: 47px;
    width: 1200px;
    margin: auto;
}
.yexiao h2{
    text-indent: 18px;
    font-size: 22px;
    font-weight: normal;
    color: #333;
    font-family: 'Microsoft YaHei';
}
.yebook ul{
    overflow: hidden;
    width: 1212px;
}
.yebook ul li{
    float: left;
    height: 291px;
    width: 186px;
    border: 2px solid #fff;
    display: inline;
    margin: 10px 6px 0;
}
.yebook ul li:hover{
    border:2px solid #f5f5f5;
}
.yebook ul li .yeb{
    height: 158px;
    margin-top: 10px;
    text-align: center;
}
.yebook ul li .yeb a img{
    max-height: 158px;
    max-width: 158px;
    margin:0 auto;
}
.yebook ul li .ybname{
    width: 150px;
    padding: 0 20px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 15px;
}
.yebook ul li .ybname a{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
}
.yebook ul li .zuozhe{
    margin-top: 2px;
    color: #666;
    width: 150px;
    padding: 0 20px;
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.yebook ul li .jmon{
    margin-top: 4px;
    width: 150px;
    padding: 0 20px;
    overflow: hidden;
    line-height: 16px;

}
.yebook ul li .jmon .xianmai{
    float: left;
    color: #e60000;
    font-size: 15px;
    font-family: "Microsoft YaHei";
}
.yebook ul li .jmon .ymon{
    line-height: 18px;
    margin-left: 7px;
    float: left;
    color: #999999;
    text-decoration-line: line-through;
}
.yebook ul li .buyButton{
    margin-top: 6px;
    overflow: hidden;
}
.yebook ul li .buyButton a{
    margin: 2px auto 0;
    display: block;
    width: 158px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #e1f7ff;
    color: #666666;
    text-decoration: none;
}
.yebook ul li .buyButton:hover a{
    background:#e60000;
    color:#fff;
}

.w1200{
    width: 1200px;
    margin:0 auto;
}
/*网页底部*/

.footWrap { border-top:1px solid #dadada;margin-top: 30px;}

.footer_nav { background:#f5f5f5; }

.footer_nav .w1200{ border-bottom:1px solid #e4e4e4;  padding-bottom:27px; }

.footer_nav .footerNavInner { padding-left:20px; padding-top:10px; overflow:hidden;  }

.footer_nav dl { float:left; width:177px; margin-top:12px; }

.footer_nav dl dt {  margin-bottom:6px; color:#666; font-size:14px; font-weight:bold; line-height:20px; }

.footer_nav dl dd { line-height:24px;}

.footer_nav dl dd a { color:#666666; }

.footer_nav dl dd a:hover { color:#e60000;}

.footer_nav dl.weixin { width:77px; margin:12px 4px 0px 30px; }

.footer_nav dl.weixin img { width:77px;  }

.footer_nav dl.weixin b { display:block; line-height:22px;  }

.footer_nav dl.weixin dd { margin-top:13px;}

/*版权*/

.certifica .width820 { width:1000px; margin:20px auto 30px; }

.credit_certifica { overflow:hidden; float:left; display:inline; margin-left:90px; }
.credit_certifica a{
    float:left;

}
.credit_certifica .p1{
    margin-top:2px;
}
.credit_certifica .p2{
    margin-left:5px;
}
.licence { float:left; color:#333; display:inline; margin-left:18px; line-height:20px;  }

.licence p a  { margin-right:10px; }
.footBanner{
    background:#f5f5f5;
    width: 100%;
}